/* RecipeCard.css */

.recipe-error-loading {
  /* padding-left: 10px; */
  display: block;
  height: 10px;
  width: 0;
  /* visibility: hidden; */
  border-style: dashed;
}

.recipe-card {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  color: #000;
  width: 100%;  /* Take full width on smaller screens */
  max-width: 250px; /* Limits the max size */
  box-sizing: border-box; 
}

.recipe-card h2{
  font-size: 1.4rem;
}

body.dark-mode .recipe-card {
  background: #222; /* Dark mode background */
  color: #fff; /* Ensure text is visible in dark mode */
}

.recipe-image {
  max-width: 200px;
  width: 100%;
  height: auto;
  cursor: pointer; 
}

.recipe-title {
  text-align: center;
}

@media (max-width: 1200px) {
  .recipe-card h2{
    font-size: 1.3rem;
  }
}

@media (max-width: 1000px) {
  .recipe-card h2{
    font-size: 1.25rem;
  }
}

@media (max-width: 800px) {
  .recipe-card h2{
    font-size: 1.2rem;
  }
}


@media (max-width: 600px) {
  .recipe-card h2{
    font-size: 1.17rem;
  }
}