/* Dark Mode Toggle Switch */
.toggle-container {
    width: 82px; /* Adjust the container width to fit the switch and label */
    height: 30px;
    background: #ddd;
    border-radius: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    transition: background 0.3s ease;
    position: fixed;
    top: 57px;
    right: 25px;
    justify-content: space-between; /* Space between the slider and label */
  }
  
  .toggle-slider {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  /* Move the button to the right when dark mode is active */
  .dark.toggle-slider {
    transform: translateX(68px); /* Moves slider to the right */
    background-color: #333; /* Dark background for the slider in dark mode */
  }
  
  /* Change background color when dark mode is active */
  /* .dark.toggle-container {
    background: #555;
  } */
  
  /* Label beside the switch */
  .mode-label {
    font-size: .92em;
    color: #111;
    font-weight: bold;
    margin-left: 5px;
  }
  
  /* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .toggle-container {
    width: 62px; /* Smaller width for the toggle container */
    height: 22px; /* Smaller height */
    right: 15px;
  }

  .toggle-slider {
    width: 15px; /* Smaller slider */
    height: 15px; /* Smaller slider */
  }
  .dark.toggle-slider {
    transform: translateX(50px); /* Moves slider to the right */
  }

  .mode-label {
    font-size: .75em; /* Smaller font size for the label */
    margin-left: 3px;
  }
}

/* Media query for screens smaller than 500px */
@media (max-width: 500px) {
  .toggle-container {
    width: 58px; 
    height: 20px;
    right: 12px;
  }

  .toggle-slider {
    width: 14px;
    height: 14px; 
  }
  .dark.toggle-slider {
    transform: translateX(47px); 
  }

  .mode-label {
    font-size: .7em; 

  }
}

/* Media query for screens smaller than 370px */
@media (max-width: 370px) {
  .toggle-container {
    height: 17px;
  }

  .toggle-slider {
    width: 13px;
    height: 13px; 
  }
  .dark.toggle-slider {
    transform: translateX(47px); 
  }

  .mode-label {
    font-size: .65em; 

  }
}

