/* RecipeCard.css */
.recipe-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  width: 100%;  /* Take full width on smaller screens */
  max-width: 300px; /* Limits the max size */
}

.recipe-error-loading {
  padding-left: 10px;
}

.recipe-image {
  max-width: 150px;
  width: 100%;
  height: auto;
  cursor: pointer; 
}


