.recipe-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 8px;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.recipe-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.recipe-image {
  max-width: 150px;
  width: 100%;
  height: auto;
}

.ingredient-input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.ingredient-input:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove default outline */
}

.full-instructions {
  display: block;
}

/* For smaller screens, truncate the instructions */
.truncated-instructions {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 5 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.show-more-btn {
  background: none; 
  color: #007bff; 
  padding: 0; 
  border: none; 
  cursor: pointer;
  font-size: 0.9rem; 
  text-decoration: underline; 
  transition: color 0.3s ease; 
}

/* Change color on hover */
.show-more-btn:hover {
  color: #0056b3; /* 
}

/* Show full instructions on larger screens and hide the "Show More" button */
@media (min-width: 768px) {
  .truncated-instructions {
    display: block; /* Show full instructions on larger screens */
  }

  .show-more-btn {
    display: none; /* Hide the "Show More" button on larger screens */
  }
}

/* On smaller screens, ensure the full instructions are visible */
@media (max-width: 500px) {
  /* Hide truncated text on small screens */
  .truncated-instructions {
    display: none; /* Hide truncated instructions on smaller screens */
  }

  .full-instructions {
    display: block; /* Show full instructions on smaller screens */
  }
}
