/* Recipe List Styles */
#main-heading {
  padding-left: 10px;
}

/* Search Container */
.search-container {
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
}

/* Error Loading Message */
.load-error {
  padding-left: 10px;
}

/* Input Field */
.input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  width: 250px; /* Fixed width for the input field */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

/* Clear Button */
.clear-btn {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  width: auto; /* Let the button size adjust based on content */
}

/* Hover effect for the clear button */
.clear-btn:hover {
  background-color: #e60000;
}

/* Focus effect for accessibility */
.clear-btn:focus {
  outline: 2px solid #ff4d4d;
  outline-offset: 2px;
}

/* Refresh Button */
.refresh-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px; /* Space between button and input field */
  display: flex;
}

/* Media query for screens smaller than 420px */
@media (max-width: 490px) {
  /* Input Field */
  .input {
    padding: 5px;
    font-size: 0.78rem;
    width: 250px; /* Fixed width for the input field */
  }
  .clear-btn {
    padding: 5px;
    font-size: 0.78rem;
  }
}

/* Media query for screens smaller than 380px */
@media (max-width: 380px) {
  /* Input Field */
  .input {
    padding: 6px;
    font-size: 0.7rem;
    width: 200px; /* Fixed width for the input field */
  }
  .clear-btn {
    padding: 6px 5px;
    font-size: 0.7rem;
  }
}

/* Media query for screens smaller than 330px */
@media (max-width: 330px) {
  /* Input Field */
  .input {
    padding: 4px;
    font-size: 0.65rem;
    width: 180px; /* Fixed width for the input field */
  }
  .clear-btn {
    padding: 4px;
    font-size: 0.65rem;
  }
}

/* Media query for screens smaller than 330px */
@media (max-width: 300px) {
  /* Input Field */
  .input {
    padding: 4px;
    border: 1px solid #ddd;
    font-size: 0.65rem;
    width: 170px; /* Fixed width for the input field */
  }
  .clear-btn {
    padding: 3.9px;
    font-size: 0.61rem;
  }

  /* Change content for clear-btn */
  .clear-btn {
    content: 'X'; /* Directly set button content to 'X' */
  }
}
