/* app.css */
body {
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.nav {
  display: flex;
  justify-content: center;
  gap: 1.1%;
}
.nav button {
  padding: 15% 0.3%;
  width: 6rem;
  font-size: 1em;
  /* margin: 0 10px; */
  cursor: pointer;
  border: none;
  background: none;
}
.nav button:hover {
  background-color: #f0f0f0;
}
.nav button.active {
  background-color: #007bff;
  color: white;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
  .nav {
    gap: 1%; /* Reduced space between buttons */
  }

  .nav button {
    padding: 12% 0.1%; /* Smaller horizontal padding */
    font-size: 0.8em; /* Smaller font size */
    width: 3.9rem;
  }
}
/* Media query for screens smaller than 400px */
@media (max-width: 400px) {
  .nav {
    gap: .1%; /* Even smaller space between buttons */
  }

  .nav button {
    padding: 8% 0; /* Further reduce horizontal padding */
    font-size: 0.7em;  /* Smaller font size */
    width: 3.5rem;
  }
}